Repository dosim086/GHA, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, backend, frontend, shared, tools

.github/labeler.yml:

automation:
  - automation/**/*

backend:
  - backend/**/*

frontend:
  - frontend/**/*

shared:
  - shared/**/*

tools:
  - tools/**/*

second commit
  backend/somefile.js
Labels: backend

second commit
  frontend/somefile.js
  shared/somefile.js
Labels: frontend, shared

second commit
  .github/CODEOWNERS
Labels: none

as
  index.js
Labels: none

as
  index.js
Labels: none

as
  frontend/somefile.js
Labels: frontend

sdfsdf
  .github/workflows/labeler.yml
Labels: none

sdf
  index.js
Labels: none

sdf
  .github/workflows/labeler.yml
Labels: none

sdf
  index.js
Labels: none

sdf
  index.js
Labels: none

sdf
  .github/workflows/labeler.yml
Labels: none
